{% extends "inventory/layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>
                Your account doesn't have access to this page. To proceed,
                please login with an account that has access.
            </p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <div class="row h-75 justify-content-center align-items-center">
        <div class="col-md-4">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input autocomplete="off" autofocus="off" type="username" name="{{ form.username.html_name }}" value="{{ form.username.value|default_if_none:'' }}" class="form-control input" id="floatingInput {{ form.username.id_for_label }}" placeholder="Username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input autocomplete="off" autofocus="off" type="password" name="{{ form.password.html_name }}" value="{{ form.password.value|default_if_none:'' }}" class="form-control input" id="floatingPassword {{ form.password.id_for_label }}" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="d-grid mb-3 input-group">
                    <button class="btn btn-outline-secondary" type="submit" value="login">Login</button>
                    <input type="hidden" name="next" value="{{ next }}">
                </div>
                <div class="d-grid mb-3 input-group">
                    <button class="btn btn-outline-info" type="submit" value="register">Register</button>
                </div>
            </form>
            <!--Assumes you set of the password_reset view in your URLconf-->
            <p><a style="text-decoration: none; color: gray" href="{% url 'password_reset' %}">Forgot Password</a></p>
        </div>
    </div>
{% endblock %}