{% extends "layout.html" %}

{% block title %}
    Inventory
{% endblock %}

{% block main %}
<div class="row justify-content-center py-5">
    <div class="col-md-8">
        <form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Unit</th>
                        <th>Par</th>
                        <th>Order</th>
                    </tr>
                </thead>
                {% for item in item_list %}
                    <tr>
                        <td>{{ item.brand }}</td>
                        <td>{{ item.unit }}</td>
                        <td>{{ item.par }}</td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Qty" aria-label="Number of items to order">
                                <button class="btn btn-danger" type="button">-</button>
                                <button class="btn btn-success" type="button">+</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>
{% endblock %}