{% extends 'inventory/layout.html' %}

{% block title %}
    <title>Analytics</title>
{% endblock %}

{% block main %}
    <div class="row justify-content-center py-5">
        <div class="col-lg-10">
        {% autoescape off %}
            {{ chart }}
        {% endautoescape %}
        </div>
    </div>
    
    <form class="row justify-content-center" action="" method="post">
        {% csrf_token %}
        <div class="col-4">
            <select class="form-select" name="frame">
                <option selected disabled>Frame</option>
                <option value="month">Month</option>
                <option value="ytd">Year To Date</option>
                <option value="all-time">All Time</option>
            </select>
        </div>

        <div class="col-4">
            <select class="form-select" name="product">
                <option value="0" selected>All Items</option>
            {% for item in items %}
                <option value="{{ item.id }}">{{ item.brand }} {{ item.unit }}</option>
            {% endfor %}
            </select>
        </div>

        <button class="btn btn-success col-2" type="submit">Go</button>
    </form>

{% endblock %}
