{% extends "inventory/layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    {% load static %}
        <div class="row justify-content-center pt-5 pb-3">
        {% if user.is_authenticated %}
            <div class="col-md-4">
                <a href="{% url 'inventory:shop' %}">
                <div class="card bg-dark text-white">
                    <img src="{% static 'images/inventory2.jpg' %}" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center">
                        <h2 class="card-title">Inventory</h3>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="row justify-content-center py-3">
            <div class="col-md-4">
                <a href="{% url 'inventory:history' %}">
                <div class="card bg-dark text-white">
                    <img src="{% static 'images/history.jpg' %}" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center">
                        <h2 class="card-title">History</h3>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="row justify-content-center py-3">
            <div class="col-md-4">
                <a href="{% url 'inventory:analytics' %}">
                <div class="card bg-dark text-dark">
                    <img src="{% static 'images/analytics.jpg' %}" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center">
                        <h2 class="card-title">Analytics</h3>
                    </div>
                </div>
                </a>
            </div>
        </div>
        {% else %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% load static %}
                <img src="{% static 'images/inventory_logo2.png' %}" style="width: 90%; height: auto;">  
            </div>
        </div>
        {% endif %}
{% endblock %}