{% extends 'inventory/layout.html' %}

{% block title %}
    <title>Delete Everything</title>
{% endblock %}

{% block main %}
    {% load static %}
        <div class="login d-flex row justify-content-center align-items-center">
            <div class="col-lg-4">
                <h2>Are you sure you want to delete everything?</h2>
                <form action="" method="post">
                {% csrf_token %}
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col">
                            <button name="response" value="yes" type="submit" class="btn btn-danger">Yes, destroy it!</button>
                        </div>
                        <div class="col">
                            <button name="response" value="no" type="submit" class="btn btn-success">No, back to safety.</button>
                        </div>
                    </div>
                    <div class="form-check form-switch d-flex justify-content-center m-5">
                        <input class="form-check-input me-3" type="checkbox" role="switch" id="flexSwitchCheckDefault" required>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Verify</label>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}