{% extends 'inventory/layout.html' %}

{% block title %}
    <title>Delete Everything</title>
{% endblock %}

{% block main %}
    {% load static %}
        <div class="login d-flex row justify-content-center align-items-center">
            <div class="col-lg-4">
                <h2>Are you sure you want to delete everything?</h2>
                <form action="" method="post">
                {% csrf_token %}
                    <button name="response" value="yes" type="submit" class="btn btn-danger">Yes</button>
                    <button name="response" value="no" type="submit" class="btn btn-success">No</button>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" required>
                        <label class="form-check-label link-light" for="flexSwitchCheckDefault">Confirm Decision</label>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}