{% extends 'inventory/layout.html' %}

{% block title %}
    Finalize
{% endblock %}

{% block main %}
    <div class="row justify-content-center py-5">
        <div class="col-lg-6">
            <form action="" method="post">
            {% csrf_token %}
                <p>{{ supplier_list.name }}</p>
                <!--OPTIONAL MESSAGE TO SUPPLIER-->
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Enter optional message here" id="send_message" name="message" style="height: 200px"></textarea>
                    <label for="send_message">Message</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" required>
                    <label class="form-check-label link-light" for="flexSwitchCheckDefault">Confirm Order</label>
                </div>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </div>
            </form>
            <a class="link-light py-5">Preview Order</a>
        </div>
    </div>
{% endblock %}
