{% extends 'inventory/layout.html' %}

{% block title %}
    Finalize
{% endblock %}

{% block main %}
    <div class="row justify-content-center py-5">
        <div class="col-lg-6">
            <form action="" method="post">
            {% csrf_token %}
                {% for supplier in supplier_list %}
                    <p>{{ supplier }}</p>
                    <!--OPTIONAL MESSAGE TO SUPPLIER-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Enter optional message here" id="send_message" name="{{ supplier }}" style="height: 200px"></textarea>
                        <label for="send_message">Message</label>
                    </div>
                {% endfor %}
                <div class="form-check form-switch d-flex justify-content-center m-5">
                    <input class="form-check-input me-3" type="checkbox" role="switch" id="flexSwitchCheckDefault" required>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Confirm Order</label>
                </div>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
