{% extends 'inventory/layout.html' %}

{% block title %}
    Order History
{% endblock %}

{% block main %}
    <div class="row justify-content-center py-5">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                    </tr>
                </thead>
                {% for order in order_list %}
                    <tr>
                        <td class="align-middle"><a class="nav-link" href="{% url 'inventory:order' order.date %}">{{ order.date }}</a></td>
                    </tr>
                {% endfor %}
            </table>
{% endblock %}