{% extends 'inventory/layout.html' %}

{% block title %}
    Order
{% endblock %}

{% block main %}
    <script>toggle_display("History")</script>
    <div class="row justify-content-center py-5">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                {% for order in orders %}
                    <tr>
                        <td class="align-middle">{{ order.item }}</td>
                        <td id="{{ order.item }}" class="align-middle">{{ order.order_qty }} {{order.item.package }}</td>
                        <script>check_qty("{{ order.item }}")</script>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-8">
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn btn-success btn-sm" type="submit">Download as PDF</button>
                <button class="btn btn-info btn-sm" name='csv' value='csv' type="submit">Download as CSV</button>
            </form>
        </div>
    </div>
{% endblock %}