{% extends "inventory/layout.html" %}

{% block title %}
    Shed
{% endblock %}

{% block main %}
    <div class="row justify-content-center py-5">
        {% if user.is_authenticated %}
        <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Brand</th>
                            <th>Unit</th>
                            <th>Quota</th>
                            <th>Order</th>
                        </tr>
                    </thead>
                    {% for item in item_list %}
                        <tr>
                            <td class="align-middle">{{ item.brand }}</td>
                            <td class="align-middle">{{ item.unit }}</td>
                            <td class="align-middle">{{ item.quota }}</td>
                            <td class="align-middle">
                                <form action="" method="post">
                                {% csrf_token %}
                                    <div class="input-group">
                                        <input id="{{ item.id }}" style="width: 30px;" type="text" name="input" class="form-control" value="0" aria-label="Number of items to order">
                                        <input type="hidden" name="id" value="{{ item.id }}">
                                        <button class="btn btn-danger px-3" type="button" onclick="increment('{{ item.id }}', 'd')">-</button>
                                        <button class="btn btn-success" type="button" onclick="increment('{{ item.id }}', 'i')">+</button>
                                        <button type="submit" class="btn btn-dark">Submit</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
        {% else %}
            {% load static %}
            <div class="col-md-8">
                <img src="{% static 'images/logo.png' %}" style="width: 40%; height: auto;">  
                <img src="{% static 'images/logo_text5.png' %}" style="width: 60%; height: auto;">
            </div>
        {% endif %}
    </div>
{% endblock %}