{% extends "inventory/layout.html" %}

{% block title %}
    Take Inventory
{% endblock %}

{% block main %}
    <div class="row justify-content-center py-5">
        <div class="col-lg-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Unit</th>
                        <th>Quota</th>
                        <th>Order</th>
                    </tr>
                </thead>
                <form action="" method="post">
                {% csrf_token %}
                {% for item in item_list %}
                    <tr>
                        <td class="align-middle">{{ item.brand }}</td>
                        <td class="align-middle">{{ item.unit }}</td>
                        <td class="align-middle">{{ item.quota }}</td>
                        <td class="align-middle">
                            <div class="input-group">
                                <input id="{{ item.id }}" style="width: 20px;" type="text" name="{{ item.id }}" class="form-control" value="0" aria-label="Number of items to order">
                                <button class="btn btn-danger px-3" type="button" onclick="increment('{{ item.id }}', 'd')">-</button>
                                <button class="btn btn-success" type="button" onclick="increment('{{ item.id }}', 'i')">+</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                    
            </table>
            {% if item_list %}
                <button type="submit" class="btn btn-outline-success">Next</button>
            {% else %}
                <p>Please add inventory items via the Admin page.</p>
            {% endif %}
            </form>
        </div>
    </div>
{% endblock %}