body {
    background: black;
    height: 100vh;
}

.card {
    opacity: 80%;
}
  
h1 {
    color: #FFFFFF;
}

input, textarea {
    opacity: 80%;
}

th, td {
    color: white;
}

a {
    text-decoration: none;
}

button {
    touch-action: manipulation;
}

