body {
    background: black;
    height: 100vh;
}

.card {
    opacity: 80%;
}

h1 {
    color: black;
    font-size: 60px;
}

input, textarea {
    opacity: 80%;
}

th, td {
    color: white;
}

a {
    text-decoration: none;
    touch-action: manipulation;
    color: white;
}

button {
    touch-action: manipulation;
}

