{% extends "inventory/layout.html" %}

{% block title %}
    Inventory
{% endblock %}

{% block main %}
    <form>
        <table class="table table-dark">
            <thead class="table-dark">
                <th>Brand</th>
                <th>Unit</th>
                <th>Par</th>
                <th>Order</th>
            </thead>
            {% for item in item_list %}
                <tr class="table-dark">
                    <td class="table-dark">{{ item.brand }}</td>
                    <td class="table-dark">{{ item.unit }}</td>
                    <td class="table-dark">{{ item.par }}</td>
                    <td class="table-dark">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Qty" aria-label="Number of items to order">
                            <button class="btn btn-danger" type="button">-</button>
                            <button class="btn btn-success" type="button">+</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
{% endblock %}